.btn-ghost {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: 0;
  text-transform: uppercase;
  transition: opacity var(--trans-base);
  user-select: none;
  cursor: pointer;

  &__icon {
    display: flex;
    width: var(--size-icon, 1rem);
    height: var(--size-icon, 1rem);
  }

  &__icon svg {
    width: 100%;
    height: 100%;
  }

  // size
  &--s {
    @include text-btn-s;

    padding: rem(8) 0;
  }

  &--m {
    @include text-btn-m;

    padding: rem(10) 0;
  }

  &--s &__text,
  &--m &__text  {
    padding: 0 rem(4)
  }

  // style
  &--dark {
    color: var(--txt-primary-steel);
  }

  // type
  &--reverse {
    flex-direction: row-reverse;
  }

  // state
  &[disabled],
  &.is-disabled {
    pointer-events: none;
    cursor: default;
  }

  @include media(hover) {
    &--dark:not(.is-disabled, [disabled]):hover {
      opacity: 0.5;
    }
  }
}
