.footer {
  position: relative;
  z-index: 1;
  padding: rem(120) 0 rem(12);
  min-height: 100vh;
  background-color: var(--bg-page-green);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: var(--txt-primary);

  &__bg {
    mix-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__body {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
  }

  &__logo-second {
    display: block;
    height: fit-content;
    max-width: rem(97);
  }

  &__contacts {
    grid-column: -1/-2;
    text-align: right;
  }

  &__socials {
    justify-content: flex-end;
  }

  &__msg {
    @include text-caption-s;

    grid-column: 2/3;
    grid-row: 1/3;
    max-width: rem(400);
    margin: rem(104) auto rem(75);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    justify-items: center;
    grid-row: 3/4;
  }

  &__aside {
    @include text-caption-xs;

    text-transform: uppercase;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-content: space-between;
    width: 100%;
    padding-top: rem(12);
  }

  &__aside-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(16);
  }

  &__links {
    display: flex;
    align-items: center;
    gap: rem(24);
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__link {
    @include text-caption-xs;
  }

  &__aside-politic {
    @include text-caption-xs;

    text-align: center;
  }

  &__video-box {
    width: 100%;
    max-width: rem(400);
    margin: rem(32) auto 0;
    height: rem(197);
    clip-path: circle(62.2% at 50% 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__logo-box {
    width: 100%;
    margin-bottom: rem(8);
    padding-top: rem(24);
    border-top: 1px solid var(--bd-tertiary-blue-trans-18);
  }

  &__logo {
    width: 100%;
    height: 100%;
    max-height: rem(350);
    font-size: 250px;
    display: flex;

    .logo-elem {
      transform: translateY(100px);
      opacity: 0;
      will-change: transform, opacity;
    }

    &.is-animation-start .logo-elem  {
      animation: transY 0.5s forwards cubic-bezier(0.4, 0, 1, 1);
    }
  }

  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__btn-up {
    width: fit-content;
    margin: 0 auto;
  }

  &__subtext {
    text-transform: uppercase;
    margin: auto;
    padding-top: rem(48);
    padding-bottom: rem(56);
  }

  &__text-icon {
    padding-top: rem(32);
    background-image: url("/image/bg/text-icon-1.svg");
    background-size: rem(16);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  @include media(hd-after) {
    padding-bottom: rem(32);

    &__aside {
      display: contents;
    }

    &__logo-box {
      margin-bottom: rem(24);
    }

    &__btn-up {
      order: -1;
      margin-bottom: rem(24);
    }

    &__aside-info {
      text-align: center;
    }

    &__aside-left {
      flex-direction: row-reverse;
    }

    &__links {
      justify-content: center;
      gap: rem(16);
      margin-top: rem(16);
    }

    &__msg {
      grid-row: auto;
      margin: rem(125) auto rem(100);
    }
  }

  @include media(tablet-after) {
    padding: rem(64) 0 rem(24);

    &__body {
      grid-template-columns: 1fr 1fr;
    }

    &__msg {
      grid-row: 2/3;
      grid-column: 1/-1;

      // margin-top: rem(24);
      margin: rem(112) auto rem(88);
    }

    &__btn-up {
      margin-bottom: rem(16);
    }

    &__logo-box {
      padding-top: rem(16);
    }

    &__aside-left {
      justify-content: center;
    }

    &__link svg {
      width: rem(11);
      height: rem(11);
    }

    &__aside-politic {
      order: -1;
    }

    &__subtext {
      padding-top: rem(56);
      padding-bottom: rem(41);
    }
  }
}
