.object-preview {
  padding: rem(32) rem(56);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  width: 100%;
  height: 100%;
  color: var(--txt-primary-steel);
  background-color: var(--bg-internal-surface-dusty);
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--trans-base);

  &.is-active {
    opacity: 1;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 0;
  }

  &__img picture,
  &__img img {
    max-width: 100%;
    max-height: 100%;
  }

  &__img img {
    object-fit: contain;
  }

  &__img img[src=""] {
    opacity: 0;
  }
}

.title {
  @include text-caption-xxl;

  grid-row: 1/2;
  text-transform: uppercase;
  margin-bottom: rem(64);
}

.square {
  @include text-caption-xxxl;

  grid-row: 3/4;
  display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  column-gap: rem(4);
  margin-top: rem(64);

  &__unit {
    @include text-caption-xs;

    text-transform: uppercase;
  }
}
